/* @tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full border p-2 rounded;
}




 
 */






 @tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2
         bg-gray-50
         focus:outline-none focus:ring-2 focus:ring-indigo-500
         transition;
}
